In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
def prepare_file_paths(year, category):
    file_names = os.listdir(os.path.join('dataset_nyc_taxi', category, year))
    file_paths = [os.path.join('dataset_nyc_taxi', category, year, file_name) for file_name in file_names]
    return file_paths

In [5]:
months_in_years = {
    '2019' : range(1, 12),
    '2020' : range(12),
    '2021' : range(12),
    '2022' : range(12),
    '2023' : range(12),
}

number_to_month = {
    0: 'January',
    1: 'February',
    2: 'March',
    3: 'April',
    4: 'May',
    5: 'June',
    6: 'July',
    7: 'August',
    8: 'September',
    9: 'October',
    10: 'November',
    11: 'December'
}

In [21]:
categories = ['fhv', 'green', 'yellow']
years = ['2019', '2020', '2021', '2022', '2023']

In [3]:
prepare_file_paths('2020', 'fhv')

['dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-01.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-02.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-03.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-04.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-05.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-06.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-07.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-08.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-09.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-10.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-11.parquet',
 'dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-12.parquet']

In [4]:
month_df = pd.read_parquet('dataset_nyc_taxi\\fhv\\2020\\fhvhv_tripdata_2020-01.parquet')
month_df.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02864,B02864,2020-01-01 00:40:13,2020-01-01 00:43:34,2020-01-01 00:45:34,2020-01-01 01:02:20,148,90,1.93,...,2.70,2.75,NaN,0.0,18.25,N,N,,N,N
1,HV0003,B02682,B02682,2020-01-01 00:42:31,2020-01-01 00:46:33,2020-01-01 00:47:50,2020-01-01 00:53:23,114,79,0.81,...,1.31,2.75,NaN,0.0,10.84,N,N,,N,N
2,HV0003,B02764,B02764,2020-01-01 00:01:42,2020-01-01 00:02:06,2020-01-01 00:04:37,2020-01-01 00:21:49,4,125,2.53,...,1.39,2.75,NaN,3.0,11.73,N,N,,N,N
3,HV0003,B02764,B02764,2020-01-01 00:21:23,2020-01-01 00:26:02,2020-01-01 00:26:36,2020-01-01 00:33:00,231,113,1.11,...,0.75,2.75,NaN,0.0,5.84,N,N,,N,N
4,HV0003,B02764,B02764,2020-01-01 00:32:20,2020-01-01 00:37:06,2020-01-01 00:37:49,2020-01-01 00:46:59,114,144,1.10,...,1.03,2.75,NaN,0.0,7.69,N,N,,N,N

In [6]:
month_df.describe()

,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
count,2.056937e+07,2.056937e+07,2.056937e+07,2.056937e+07,2.056937e+07,2.056937e+07,2.056937e+07,2.056937e+07,2.056937e+07,43.0,2.056937e+07,2.056937e+07
mean,1.393353e+02,1.418391e+02,4.556780e+00,1.040438e+03,1.701709e+01,8.423652e-01,4.402388e-01,1.405656e+00,9.744287e-01,0.0,6.074975e-01,1.311404e+01
std,7.518385e+01,7.767920e+01,5.415823e+00,7.094020e+02,1.611271e+01,3.417818e+00,4.736847e-01,1.309837e+00,1.261104e+00,0.0,2.186553e+00,1.281221e+01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-1.277800e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,-1.517200e+02
25%,7.500000e+01,7.500000e+01,1.483000e+00,5.470000e+02,7.720000e+00,0.000000e+00,1.800000e-01,6.400000e-01,0.000000e+00,0.0,0.000000e+00,5.600000e+00
50%,1.400000e+02,1.420000e+02,2.710000e+00,8.600000e+02,1.199000e+01,0.000000e+00,2.900000e-01,1.000000e+00,0.000000e+00,0.0,0.000000e+00,9.610000e+00
75%,2.110000e+02,2.180000e+02,5.478000e+00,1.334000e+03,2.029000e+01,0.000000e+00,5.200000e-01,1.710000e+00,2.750000e+00,0.0,0.000000e+00,1.656000e+01
max,2.650000e+02,2.650000e+02,3.395500e+02,5.048900e+04,1.461660e+03,1.187200e+02,3.707000e+01,7.202000e+01,8.250000e+00,0.0,1.000000e+02,1.054270e+03

In [9]:
month_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20569368 entries, 0 to 20569367
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   dispatching_base_num  object
 2   originating_base_num  object
 3   request_datetime      datetime64[ns]
 4   on_scene_datetime     datetime64[ns]
 5   pickup_datetime       datetime64[ns]
 6   dropoff_datetime      datetime64[ns]
 7   PULocationID          int64
 8   DOLocationID          int64
 9   trip_miles            float64
 10  trip_time             int64
 11  base_passenger_fare   float64
 12  tolls                 float64
 13  bcf                   float64
 14  sales_tax             float64
 15  congestion_surcharge  float64
 16  airport_fee           float64
 17  tips                  float64
 18  driver_pay            float64
 19  shared_request_flag   object
 20  shared_match_flag     object
 21  access_a_ride_flag    object
 22  wav_request_flag      object
 23  wav_match_flag        object
dtypes: datetime64[ns](4), float64(9), int64(3), object(8)
memory usage: 3.7+ GB

In [17]:
weather_df = pd.read_csv('dataset_nyc_taxi\\open-meteo-nyc-2019-2023.csv')
weather_df['time'] = pd.to_datetime(weather_df['time'])
weather_df.head()

,time,temperature_2m (Â°C),relative_humidity_2m (%),dew_point_2m (Â°C),apparent_temperature (Â°C),precipitation (mm),rain (mm),snowfall (cm),snow_depth (m),surface_pressure (hPa),cloud_cover (%),wind_speed_10m (km/h),is_day ()
0,2019-02-01 00:00:00,-10.4,30,-24.6,-16.1,0.0,0.0,0.0,0.01,1023.6,0,12.1,0
1,2019-02-01 01:00:00,-10.4,30,-24.7,-16.1,0.0,0.0,0.0,0.01,1023.5,1,12.2,0
2,2019-02-01 02:00:00,-10.5,29,-25.1,-16.3,0.0,0.0,0.0,0.01,1023.9,0,12.6,0
3,2019-02-01 03:00:00,-10.8,30,-25.0,-16.5,0.0,0.0,0.0,0.01,1023.9,0,12.2,0
4,2019-02-01 04:00:00,-11.0,31,-24.7,-17.0,0.0,0.0,0.0,0.01,1024.3,2,13.5,0

In [18]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43080 entries, 0 to 43079
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       43080 non-null  datetime64[ns]
 1   temperature_2m (Â°C)        43080 non-null  float64
 2   relative_humidity_2m (%)   43080 non-null  int64
 3   dew_point_2m (Â°C)          43080 non-null  float64
 4   apparent_temperature (Â°C)  43080 non-null  float64
 5   precipitation (mm)         43080 non-null  float64
 6   rain (mm)                  43080 non-null  float64
 7   snowfall (cm)              43080 non-null  float64
 8   snow_depth (m)             43080 non-null  float64
 9   surface_pressure (hPa)     43080 non-null  float64
 10  cloud_cover (%)            43080 non-null  int64
 11  wind_speed_10m (km/h)      43080 non-null  float64
 12  is_day ()                  43080 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(3)
memory usage: 4.3 MB

In [19]:
oil_df = pd.read_csv('dataset_nyc_taxi\\oil_prices.csv')
oil_df['date'] = pd.to_datetime(oil_df['date'])
oil_df

          date  retail_price
0   2018-12-31         3.110
1   2019-01-07         3.069
2   2019-01-14         3.049
3   2019-01-21         3.037
4   2019-01-28         3.050
..         ...           ...
257 2023-12-04         4.139
258 2023-12-11         4.050
259 2023-12-18         3.969
260 2023-12-25         4.022
261 2024-01-01         4.002

[262 rows x 2 columns]

In [20]:
oil_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          262 non-null    datetime64[ns]
 1   retail_price  262 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.2 KB

In [28]:
pd.read_csv('dataset_nyc_taxi/samples_num_monthly.csv')

,Unnamed: 0,2019 february,2019 march,2019 april,2019 may,2019 june,2019 july,2019 august,2019 september,2019 october,...,2023 march,2023 april,2023 may,2023 june,2023 july,2023 august,2023 september,2023 october,2023 november,2023 december
0,fhv,20159102,23864598,21734822,22329247,21001990,20303312,20126113,20069321,21162290,...,20413539,19144903,19847676,19366619,19132131,18322150,19851123,20186330,19269250,20516297
1,green,615594,643063,567852,545452,506238,470743,449695,449063,476386,...,72044,65392,69174,65550,61343,60649,65471,66177,64025,64215
2,yellow,7049370,7866620,7475949,7598445,6971560,6310419,6073357,6567788,7213891,...,3403766,3288250,3513649,3307234,2907108,2824209,2846722,3522285,3339715,3376567

In [54]:
N = 100
rs = 42

def get_samples_month_by_month(vechicle_type):
    samples_df = pd.DataFrame()
    for year in months_in_years.keys():
        filepaths = prepare_file_paths(year, vechicle_type)
        months = months_in_years[year]
        for i in range(len(filepaths)):
            month_df = pd.read_parquet(filepaths[i])
            month_samples_df = month_df.sample(N, random_state=rs).copy()
            samples_df = pd.concat([samples_df, month_samples_df], ignore_index=True)
            
    return samples_df

In [55]:
choosen_df = get_samples_num_in_month('green')

In [56]:
choosen_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1,2019-02-09 21:54:16,2019-02-09 22:00:31,N,1.0,95,95,1.0,1.20,6.50,0.5,0.5,1.55,0.0,NaN,0.3,9.35,1.0,1.0,0.00
1,2,2019-02-25 14:55:23,2019-02-25 15:03:46,N,1.0,130,215,1.0,1.35,7.50,0.0,0.5,1.66,0.0,NaN,0.3,9.96,1.0,1.0,0.00
2,2,2019-02-28 22:15:21,2019-02-28 22:18:48,N,1.0,25,25,1.0,0.58,4.50,0.5,0.5,1.00,0.0,NaN,0.3,6.80,1.0,1.0,0.00
3,2,2019-02-20 11:44:12,2019-02-20 12:30:36,N,5.0,130,65,1.0,15.43,51.35,0.0,0.5,0.00,0.0,NaN,0.0,51.85,1.0,2.0,0.00
4,2,2019-02-04 19:08:57,2019-02-04 19:36:16,N,1.0,65,188,1.0,3.93,18.50,1.0,0.5,0.00,0.0,NaN,0.3,20.30,2.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5895,2,2023-12-07 08:47:12,2023-12-07 09:01:04,N,1.0,166,244,3.0,2.96,17.70,0.0,0.5,4.80,0.0,NaN,1.0,24.00,1.0,1.0,0.00
5896,2,2023-12-04 14:11:06,2023-12-04 14:37:15,N,1.0,244,237,1.0,6.39,32.40,0.0,0.5,0.00,0.0,NaN,1.0,36.65,1.0,1.0,2.75
5897,2,2023-12-13 08:40:54,2023-12-13 08:44:46,N,1.0,75,75,1.0,0.73,5.80,0.0,0.5,1.46,0.0,NaN,1.0,8.76,1.0,1.0,0.00
5898,2,2023-12-04 18:01:05,2023-12-04 18:07:30,N,1.0,43,238,1.0,1.33,8.60,2.5,0.5,3.07,0.0,NaN,1.0,18.42,1.0,1.0,2.75
5899,2,2023-12-12 09:28:25,2023-12-12 09:38:29,N,1.0,122,130,1.0,1.96,12.10,0.0,0.5,0.00,0.0,NaN,1.0,13.60,2.0,1.0,0.00

In [60]:
choosen_df['nearest_date'] = choosen_df['lpep_pickup_datetime'].apply(lambda x: oil_df.iloc[(oil_df['date']-x).abs().argsort()[:1]]['date'].values[0])
merged_oil_df = pd.merge(choosen_df, oil_df, how='left', left_on='nearest_date', right_on='date')
merged_oil_df = merged_oil_df.drop(columns = ['nearest_date', 'date'])
merged_oil_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,retail_price
0,1,2019-02-09 21:54:16,2019-02-09 22:00:31,N,1.0,95,95,1.0,1.20,6.50,...,0.5,1.55,0.0,NaN,0.3,9.35,1.0,1.0,0.00,3.031
1,2,2019-02-25 14:55:23,2019-02-25 15:03:46,N,1.0,130,215,1.0,1.35,7.50,...,0.5,1.66,0.0,NaN,0.3,9.96,1.0,1.0,0.00,3.094
2,2,2019-02-28 22:15:21,2019-02-28 22:18:48,N,1.0,25,25,1.0,0.58,4.50,...,0.5,1.00,0.0,NaN,0.3,6.80,1.0,1.0,0.00,3.119
3,2,2019-02-20 11:44:12,2019-02-20 12:30:36,N,5.0,130,65,1.0,15.43,51.35,...,0.5,0.00,0.0,NaN,0.0,51.85,1.0,2.0,0.00,3.073
4,2,2019-02-04 19:08:57,2019-02-04 19:36:16,N,1.0,65,188,1.0,3.93,18.50,...,0.5,0.00,0.0,NaN,0.3,20.30,2.0,1.0,0.00,3.038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5895,2,2023-12-07 08:47:12,2023-12-07 09:01:04,N,1.0,166,244,3.0,2.96,17.70,...,0.5,4.80,0.0,NaN,1.0,24.00,1.0,1.0,0.00,4.139
5896,2,2023-12-04 14:11:06,2023-12-04 14:37:15,N,1.0,244,237,1.0,6.39,32.40,...,0.5,0.00,0.0,NaN,1.0,36.65,1.0,1.0,2.75,4.139
5897,2,2023-12-13 08:40:54,2023-12-13 08:44:46,N,1.0,75,75,1.0,0.73,5.80,...,0.5,1.46,0.0,NaN,1.0,8.76,1.0,1.0,0.00,4.050
5898,2,2023-12-04 18:01:05,2023-12-04 18:07:30,N,1.0,43,238,1.0,1.33,8.60,...,0.5,3.07,0.0,NaN,1.0,18.42,1.0,1.0,2.75,4.139
5899,2,2023-12-12 09:28:25,2023-12-12 09:38:29,N,1.0,122,130,1.0,1.96,12.10,...,0.5,0.00,0.0,NaN,1.0,13.60,2.0,1.0,0.00,4.050

In [61]:
merged_oil_df['nearest_date'] = merged_oil_df['lpep_pickup_datetime'].apply(lambda x: weather_df.iloc[(weather_df['time']-x).abs().argsort()[:1]]['time'].values[0])
merged_oil_weather_df = pd.merge(merged_oil_df, weather_df, how='left', left_on='nearest_date', right_on='time')
merged_oil_weather_df = merged_oil_weather_df.drop(columns = ['nearest_date', 'time'])
merged_oil_weather_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,dew_point_2m (Â°C),apparent_temperature (Â°C),precipitation (mm),rain (mm),snowfall (cm),snow_depth (m),surface_pressure (hPa),cloud_cover (%),wind_speed_10m (km/h),is_day ()
0,1,2019-02-09 21:54:16,2019-02-09 22:00:31,N,1.0,95,95,1.0,1.20,6.50,...,-12.8,-9.6,0.0,0.0,0.00,0.00,1033.9,0,14.5,0
1,2,2019-02-25 14:55:23,2019-02-25 15:03:46,N,1.0,130,215,1.0,1.35,7.50,...,-11.2,-6.0,0.0,0.0,0.00,0.00,1004.9,0,43.0,1
2,2,2019-02-28 22:15:21,2019-02-28 22:18:48,N,1.0,25,25,1.0,0.58,4.50,...,-10.3,-8.2,0.0,0.0,0.00,0.01,1018.6,37,11.2,0
3,2,2019-02-20 11:44:12,2019-02-20 12:30:36,N,5.0,130,65,1.0,15.43,51.35,...,-9.7,-6.4,0.2,0.0,0.14,0.01,1029.5,90,5.1,1
4,2,2019-02-04 19:08:57,2019-02-04 19:36:16,N,1.0,65,188,1.0,3.93,18.50,...,2.7,0.5,0.0,0.0,0.00,0.00,1009.9,1,10.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5895,2,2023-12-07 08:47:12,2023-12-07 09:01:04,N,1.0,166,244,3.0,2.96,17.70,...,-6.2,-6.3,0.0,0.0,0.00,0.00,1012.1,77,13.0,1
5896,2,2023-12-04 14:11:06,2023-12-04 14:37:15,N,1.0,244,237,1.0,6.39,32.40,...,2.4,6.1,0.0,0.0,0.00,0.00,1002.0,89,19.9,1
5897,2,2023-12-13 08:40:54,2023-12-13 08:44:46,N,1.0,75,75,1.0,0.73,5.80,...,-3.0,-2.9,0.0,0.0,0.00,0.00,1024.5,0,12.3,1
5898,2,2023-12-04 18:01:05,2023-12-04 18:07:30,N,1.0,43,238,1.0,1.33,8.60,...,0.7,3.5,0.0,0.0,0.00,0.00,1002.6,91,12.6,0
5899,2,2023-12-12 09:28:25,2023-12-12 09:38:29,N,1.0,122,130,1.0,1.96,12.10,...,-4.5,-5.4,0.0,0.0,0.00,0.00,1022.5,0,12.4,1

In [62]:
merged_oil_weather_df.isna().sum()

VendorID                        0
lpep_pickup_datetime            0
lpep_dropoff_datetime           0
store_and_fwd_flag           1249
RatecodeID                   1249
PULocationID                    0
DOLocationID                    0
passenger_count              1249
trip_distance                   0
fare_amount                     0
extra                           0
mta_tax                         0
tip_amount                      0
tolls_amount                    0
ehail_fee                    5899
improvement_surcharge           0
total_amount                    0
payment_type                 1249
trip_type                    1250
congestion_surcharge         1249
retail_price                    0
temperature_2m (Â°C)             0
relative_humidity_2m (%)        0
dew_point_2m (Â°C)               0
apparent_temperature (Â°C)       0
precipitation (mm)              0
rain (mm)                       0
snowfall (cm)                   0
snow_depth (m)                  0
surface_pressure (hPa)          0
cloud_cover (%)                 0
wind_speed_10m (km/h)           0
is_day ()                       0
dtype: int64

In [63]:
merged_oil_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5900 entries, 0 to 5899
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   VendorID                   5900 non-null   int64
 1   lpep_pickup_datetime       5900 non-null   datetime64[ns]
 2   lpep_dropoff_datetime      5900 non-null   datetime64[ns]
 3   store_and_fwd_flag         4651 non-null   object
 4   RatecodeID                 4651 non-null   float64
 5   PULocationID               5900 non-null   int64
 6   DOLocationID               5900 non-null   int64
 7   passenger_count            4651 non-null   float64
 8   trip_distance              5900 non-null   float64
 9   fare_amount                5900 non-null   float64
 10  extra                      5900 non-null   float64
 11  mta_tax                    5900 non-null   float64
 12  tip_amount                 5900 non-null   float64
 13  tolls_amount               5900 non-null   float64
 14  ehail_fee                  1 non-null      object
 15  improvement_surcharge      5900 non-null   float64
 16  total_amount               5900 non-null   float64
 17  payment_type               4651 non-null   float64
 18  trip_type                  4650 non-null   float64
 19  congestion_surcharge       4651 non-null   float64
 20  retail_price               5900 non-null   float64
 21  temperature_2m (Â°C)        5900 non-null   float64
 22  relative_humidity_2m (%)   5900 non-null   int64
 23  dew_point_2m (Â°C)          5900 non-null   float64
 24  apparent_temperature (Â°C)  5900 non-null   float64
 25  precipitation (mm)         5900 non-null   float64
 26  rain (mm)                  5900 non-null   float64
 27  snowfall (cm)              5900 non-null   float64
 28  snow_depth (m)             5900 non-null   float64
 29  surface_pressure (hPa)     5900 non-null   float64
 30  cloud_cover (%)            5900 non-null   int64
 31  wind_speed_10m (km/h)      5900 non-null   float64
 32  is_day ()                  5900 non-null   int64
dtypes: datetime64[ns](2), float64(23), int64(6), object(2)
memory usage: 1.5+ MB